# __Computing Lab *3*__ - _In The Loop_
---
# Overview
Welcome to our third online computing module. This week we'll be covering:
*   Lists
*   String Operations
*   For Loops

<br/>

# 1 Background

## 1.1 Sequences & Iterable Objects

* Iterable objects can return its elements one by one
 
 * Any iterable object in Python can be processed with a for loop (explanation later)

 * E.g., lists, strings, etc.
* Not all iterable objects are sequences
 * E.g., dictionaries, file objects, sets

* **Mutable/Immutable**
  * If an object can be modified after it's said to be _**mutable**_
  * If an object cannot be modified after it's said to be _**immutable**_


## 0.2 Summation and Product Notation
**This is useful to know for Repetition Structures**
### Summation Notation
__Summation notation__, also called __Sigma notation__ represents the sum of a sequence.<br/>

#### $\sum_{k=1}^n x_k$  <br/> 
We can take a look at what each component means here:
* $n$ is the upper limit, which is where the summation ends
* $\sum$ is the Greek letter "Sigma" and is the summation symbol
* $k$ is the lower limit, which is where the summation begins
* $x_k$ is the argument, which is the expression to be added

__Example:__ Here we have the sum of the values of $x$ from $x_1$ to $x_n$ <br/>
> $\sum_{j=1}^n x_j = x_1 + x_2 + x_3 + ... + x_n$

> $\sum_{j=3}^6 j = 3 + 4 + 5 + 6  = 18 $ 


### Product Notation
__Product notation__, also called __Pi notation__ represents the multiplication of the elements in a sequence.<br/>

#### $\prod_{k=1}^n x_k$  <br/> 
We can take a look at what each component means here:
* $n$ is the upper limit
* $\prod$ is the Greek letter "Pi" and is the product symbol
* $k$ is the lower limit
* $x_k$ is the argument, which is the expression to be multiplied

__Example:__ Here we have three examples of product notation in action <br/> 
> $\prod_{i=1}^5 i = 1 \times 2 \times 3 \times 4 \times 5 = 120 = 5!$ 

> $\prod_{i=2}^5 i^2 = (2)^2 \times (3)^2 \times (4)^2 \times (5)^2 = (4)\times (9) \times (16) \times (25) = 14,400$ 

> $\prod_{i=0}^3 i = 0 \times 1 \times 2 \times 3 = 0$ 
<br/> 
<br/>

__Note:__ Using the letters i, j, and k is typical in indexing

---
# 2. Lists
## 2.0 Lists
**Lists** are an ordered collection data type in python and are used to organize/collect multiple variables.
* An element in a list is call an item
* Lists can hold multiple types of data

Let's take a look at how we can define and initalize lists below

In [ ]:
'''
Define a list of intergers, a list of strings, then a list containing an 
interger, a float, and a string. Then run this cell (SHIFT + ENTER)
'''
# A list of integers
fibonacci = [ 0, 1, 1, 2, 3, 5]

# A list of strings
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

# A list of mixed data types
mixed_list = [10, 20.0, 'thirty']

# Print lists that have been defined
print(fibonacci)
print(planets)
print(mixed_list)

[1, 1, 2, 3, 5]
['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
[10, 20.0, 'thirty']

We can also define an **empty** list also known as initializing a list. <br/>
Let's try this down below

In [ ]:
# DEFINE AN EMPTY LIST AND RUN THIS CELL (SHIFT + ENTER)
empty_list = []
print(empty_list)

Lists can even contain other lists! Let's take a look below:

In [ ]:
# DEFINE A 2-DIMENSIONAL LIST AND RUN CELL
list_2D = [[1,2], [3,4]] 
print(list_2D)

[[1, 2], [3, 4]]

## 2.1 Indexing 
We **access items** in a list by using indices 
* The first index number of a list starts at 0
* We can index from the end of the list using negative numbers

In [ ]:
# RUN THIS CELL TO INDEX A LIST
mercury = planets[0]
earth = planets[2]
farthest_planet = planets[-1]
print( "The closest planet to the sun is", mercury )
print( "The third planet from the sun is", earth)
print( "The farthest planet from the sun is:", farthest_planet)

The closest planet to the sun is Mercury
The third planet from the sun is Earth
The farthest planet from the sun is: Neptune

We can __replace__ items in lists using their index. We'll take a look below:

In [ ]:
# RUN THIS CELL REPLACE THE SECOND ITEM IN mixed_list

print(mixed_list)
mixed_list[1] = 'twenty'
print(mixed_list)

[10.0, 20, 'thirty']
[10.0, 'twenty', 'thirty']

We can also use indices to __slice__ lists. We can specify a range of indices from beginning to end like this:

```
list_name[i:j]
```
* The index starts at index i (included) and endS at index j (not included)

We'll take a look in the cell below:

In [ ]:
# RUN THIS CELL SLICE THE planets LIST
closest_planets = planets[0:3]
print("The closest planets to the sun are:", closest_planets)

We can also slice _from the beginning_ of a list _to an element in the middle of the list_ or _from an element in the middle of a list_ to _the end of a list._ <br/> We can take a look below:

In [ ]:
# RUN THIS CELL TO SLICE THE LIST IN TWO
inner_belt = planets[:4]
print("The planets part of the solar system's inner belt are:\n", inner_belt)

outer_belt = planets[4:]
print("The planets part of the solar system's outer belt are:\n", outer_belt)

The planets part of the solar system's inner belt are:
 ['Mercury', 'Venus', 'Earth', 'Mars']
The planets part of the solar system's outer belt are:
 ['Jupiter', 'Saturn', 'Uranus', 'Neptune']

We can also index _from the end of the list_ using a **negative** integer. Let's take a look below:

In [ ]:
# RUN THIS CELL TO SLICE THE LIST FROM THE LAST THREE ELEMENTS
farthest_planets = planets[-3:]
print("The farthest planets from the sun are:", farthest_planets)

## 2.2 Adding and Removing Elements
We can use the following methods to add and remove elements from lists. We can take a look at how to use them down below
* **list_name.append(x)**
 * Adds item 'x' at the end of the list
* **list_name.insert(n,x)**
 * Insert item 'x' at position of index 'n'
* **list_name.remove(n)**
 * Removes the first occurrence of value 'x' and raises an error if the value is not found
* **list_name.pop(n)**
 * Returns the item at the index 'n' and removes it from the list

We'll take a closer look at lists down below by using the ```planets``` list we defined earlier.

In [ ]:
# Append a new planet to the planets list
planets.append('Pluto')
print("Our newest planet is:", planets[len(planets) - 1] )

In [ ]:
# Insert a new planet at the beginning of the planets list
planets.insert(0, 'Sun')
print(" The order of the celestial bodies in the solar system is: ", planets)

In [ ]:
# Remove the first item from the list
planets.remove('Sun')
print("The planets in the solar system are:", planets)

In [ ]:
# Pop the last planet in the planets list
dwarf = planets.pop( len(planets) - 1)
print("{0} is no longer a planet".format(dwarf))

## 1.3 Additional Methods
There are more additional functions which are useful when dealing with lists. We can take a look at some useful ones below: <br/>

* **list(**sequence**)** 
 * Returns a list made of a given sequence
* **len(**sequence**)**
 * Returns the number of items in a sequence
* **sorted(**sequence**)**
 * Return a new list containing all items from the iterable in ascending order
* **list_name.sort()**
 * Sorts the items in the list in ascending order

In [ ]:
# RUN THIS CELL TO SEE HOW THE list() FUNCTION IS USED

waterfall_capitol = list('Hamilton')
print(waterfall_capitol)

['H', 'a', 'm', 'i', 'l', 't', 'o', 'n']

In [ ]:
# RUN THIS CELL TO SEE HOW THE len() FUNCTION IS USED
n = len(waterfall_capitol)
print("waterfall_capitol has {0} items in it's list".format(n))

waterfall_capitol has 8 items in it's list

In [ ]:
# RUN THIS CELL TO SEE HOW THE sorted() FUNCTION IS USED
alpha_planets = sorted(planets)
print("A sorted copy of the planets list:", alpha_planets)
print("The planets list remains unsorted:", planets)

a sorted copy of the planets list: ['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']
planets list remains unsorted: ['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']

In [ ]:
# RUN THIS CELL TO USE THE .sort() METHOD
planets.sort()
print("the planets list has been sorted:", planets)

the planets list has been sorted: ['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']

---
# 3. Strings

**Recall:** Strings are a data structure that hold a sequence of Unicode characters.
* They are defined with either single or double quotes
* They are similar to a list of characters but are immutable

### Escape Characters
__Escape characters__ are special characters used to format text 
> \\' Single Quote or Apostrophe <br/>
> \\\\ Backslash <br/>
> \\n Newline <br/>
> \\r Carriage Return <br/>
> \\t Tab <br/>



## 3.1 String Methods:  
Methods are functions that are performed by specific types of objects. We saw this ealier with the functions we used with lists. String methods provide useful functions to manipulate strings and are exclusive to string objects.

* __string_name.lower()__

 * Return a copy of the string with all the cased characters converted to lowercase

* __string_name.upper()__

 * Return a copy of the string with all the cased characters converted to uppercase

* __string_name.split(__ [sep] __)__
 
 * Return a list of the words in the string, using *sep* as the
 delimiter string
 * The default separator with no argument is *any whitespace character*
   * " " – space character  
   * " " – tab character  
   * " " – newline character  

* __string_name.join(__ iterable __)__

 * Return a string which is the concatenation of the strings in
   *iterable*

* __string_name.format(__ \*args, \*\*kwargs __)__

 * Perform a string formatting operation on replacement fields in the
 string delimited by braces "{}"
 * Each replacement field contains either
   the numeric index of a positional argument __(\*args)__, or the name of a
   keyword argument __(\*\*kwargs)__.

In [ ]:
# RUN THIS CELL TO SEE THE .lower() STRING METHOD
lower_case = 'QwErTy'.lower()
print(lower_case)

In [ ]:
# RUN THIS CELL TO SEE THE .upper() STRING METHOD
shout = 'hi there'.upper()
print(shout)

In [ ]:
# RUN THIS CELL TO SEE THE .split() STRING METHOD

# Define a string and save the ouput of the .split() method to another variable
poem = 'Two roads diverged in a yellow wood' 
words = poem.split()

#  Print at the output of poem.split() and its data type
print(words, type(words) )

# Pass the .split() method an argument which is different from the default
artsy_poem = poem.split('i')
print(artsy_poem)

In [ ]:
# RUN THIS CELL TO SEE THE .join() STRING METHOD

# Use the join method on a string with a space character
rainbow = ' '.join(['red', 'orange', 'yellow', 'green', 'blue', 'violet'])
print(rainbow)

# Try using the .title() string method
rainbow_title = rainbow.title()
print(rainbow_title)

In [ ]:
# RUN THIS CELL TO SEE THE .format() STRING METHOD
phrase = 'young, scrappy and hungry'
song = "I'm just like my {place} \nI'm {0}".format(phrase, place = 'country')
print(song)

We can get more information on __string methods__ by using the Python Help function. We'll briefly take a look down below

In [ ]:
help('STRINGMETHODS')

---
# 4. For Loops
The "for" statement is used to iterate over the elements of a sequence
(such as a string, tuple or list) or other iterable object. <br/> We can take a closer look down below at how we'll use this.
<br/>
# 4.0 Computing & Repetition

When a computing process is repeated multiple times, we can use a loop to iterate a specific number of times
* We can use loops  iterate through the items in a sequence

We define the for loop like this: <br/>
```
for item in sequence:
  <statement 1>
  <statement 2>
  <statement 3>
  ...
  <statement n>
```

In [ ]:
# RUN THIS CELL TO DEFINE A LIST
mammals = ['dog', 'cat', 'platypus', 'squirrel', 'sheep']

for animal in mammals:
  print(animal)

## 4.1 The Range Function

The **range([start], stop, [step])** function return an object that produces a sequence of integers from the start (inclusive) to stop (exclusive) by an increment of step. _start_ and _step_ are optional parametes with default values of 0 and 1 respectively.<br/>

The range function can be defined like this:

```
range(stop) 
range([start], stop) 
range([start], stop, [step])
``` 

* __start:__ this optional argument is the beginning value of sequence. It's default parameter is 0.
* __stop:__ this is the ending value of a sequence
* __step:__ increment/decrement between element

In [ ]:
# RUN THIS CELL TO SEE THE RANGE FUNCTION IN USE WITH STOP
for i in range (10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# RUN THIS CELL TO SEE THE RANGE FUNCTION IN USE WITH START AND STOP
for i in range (5,10):
  print(i)

5
6
7
8
9

In [ ]:
# RUN THIS CELL TO SEE THE RANGE FUNCTION IN USE WITH START, STOP AND STEP
for i in range (2,10,2):
  print(i)

2
4
6
8

In [ ]:
# RUN THIS CELL TO DECREMENT RANGE FUNCTION WITH A NEGATIVE STEP
for i in range (20, 10, -2):
  print(i)

20
18
16
14
12

## 4.2 Infinite loops
For loops can be made to run indefinitely to be used when the number of iterations are unknown. <br/>
They can be terminated based on specified conditions or left to run indefinitely. <br/>
A few ways for us to make infinite/indefinite for loops are listed below:
* A cycle is a sequence that repeats when it reaches the end
* We can use "_from_ iterools _import_ cycle"

In [ ]:
# RUN THIS CELL TO LOOP INDEFINTELY BY REPEATEDLY APPENDING ITEMS TO THE LIST

numbers = [1]

for num in numbers:
  numbers.append(num)
  print(num)

In [ ]:
# RUNNING THIS CELL TO CREATE AN INFINITE LOOP BY USING ITERTOOLS 
from itertools import cycle

phrase = ['hi', 'there']

for i in cycle(range(2)):
  print(phrase[i])

---
# Homework
#### **Before this week's lab,** use the following program to answer the quiz on avenue:

**Recall**: The Fibonacci Sequence is the series of numbers where each term of the sequence is the sum of the two terms prior. The rule can be described as: <br/> 
$x_n = x_{n-1} + x_{n-2} $

The first ten terms of the sequence are: <br/>
$ 0, 1, 1, 2, 3, 5, 8, 13, 21, 34...$
<br/>
Where each term is the sum of the two terms prior, after the first two terms.

In [ ]:
# Use this cell to work through quiz questions

---
# Additional Resources
[String Methods](https://docs.python.org/2.5/lib/string-methods.html)

[W3 Schools: Python Lists](https://www.w3schools.com/python/python_lists.asp)

[W3 Schools: Python List/Array Methods](https://www.w3schools.com/python/python_ref_list.asp)

[W3 Schools: Python Strings](https://www.w3schools.com/python/python_strings.asp)

[W3 Schools: Python String Methods](https://www.w3schools.com/python/python_ref_string.asp)

[W3 Schools: Python For Loops](https://www.w3schools.com/python/python_for_loops.asp)

[W3 Schools: Python range() Function](https://www.w3schools.com/python/ref_func_range.asp)